<!DOCTYPE html> 
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
            <title>My Website - About</title> 
                <link rel="stylesheet" href="/static/css/app.css"> 
    </head> 
    <body> 
        <h1>Ashleigh Barker</h1> 
            <p>I am a second year Undergraduate student in the faculty of Science & Technoogy at the University of the West Indies Mona Western Jamaica Campus.
            Though my major is Information Technoogy I have a passion for literature and all things historical. My goal for the future is not to be the wealthiest 
            but, the happiest person that ever lived. I want to be able to develop something that can combine my interests or something that helps others, maybe both, 
            as long as I can share the joy I receive with someone else.</p> 
    </body> 
</html> 